<mat-toolbar color="primary" class="custom-toolbar">
  <span class="title">Bateau de Thibault</span>
  <span class="spacer"></span>
  <a mat-button routerLink="" class="nav-link">Accueil</a>
  <a mat-button routerLink="/details-produits">Details Produits</a>
  <a mat-button routerLink="/produits" class="nav-link">Les Poissons</a>
  <a mat-button routerLink="/contact" class="nav-link">Les Crustacés</a>
  <a mat-button routerLink="/contact" class="nav-link">Les Coquillages</a>
  <a mat-button routerLink="/toutlesproduit" class="nav-link">La carte des produits</a>

  <a mat-button routerLink="/stat" class="nav-link">Stats</a>
</mat-toolbar>