<div class="dashboard">
  <h2>Tableau de bord</h2>
  
  <label for="category">Filtrer par catégorie :</label>
  <select id="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange(selectedCategory)">
    <option value="all">Toutes les catégories</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>

  <h3>Chiffre d'affaires : {{ totalRevenue | currency:'EUR' }}</h3>
  
  <canvas id="myChart" width="400" height="200"></canvas>

  <h3>Données des ventes</h3>
  <table mat-table [dataSource]="salesData" class="mat-elevation-z8">
    
    <ng-container matColumnDef="pid">
      <th mat-header-cell *matHeaderCellDef> PID </th>
      <td mat-cell *matCellDef="let item"> {{ item.pid }} </td>
    </ng-container>
  
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Catégorie </th>
      <td mat-cell *matCellDef="let item"> {{ item.category_name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Prix </th>
      <td mat-cell *matCellDef="let item"> {{ item.price | currency:'EUR' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantité </th>
      <td mat-cell *matCellDef="let item"> {{ item.quantity }} </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let item"> {{ item.date }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['pid', 'category', 'price', 'quantity', 'date']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['pid', 'category', 'price', 'quantity', 'date'];"></tr>
  </table>
</div>
